/*site.css*/
#topmenubar{
    background: #808080;
    color:#eee;
    position:fixed;
    height:150px;
    width:100%;
    overflow:hidden;
    top:0;
    margin:0
}

#main{
    background:#eee;
    height:100%;
    color: #000000;
    
    }

#footer{
background:#7d94c4;
position :fixed;
bottom:0;
}

.headshot {
    max-width: 50px;
    border: 1px solid #222;
    padding: 3px;
}

 #shadedlist div:nth-of-type(2n){
     background-color: #beb7b7;
     color : #000000;
     border-radius  : 30px;
 }
 #shadedlist div:nth-of-type(2n + 1){
     background-color: #548198;
     color : #000000;
 }

 .productarticlewidename {
     font-size : 14px;
     font-weight : 600;
     position :fixed;
    
 }

 .productarticlewidebirthdate {
     font-size : 14px;
     font-weight : 600;
    
 }

 .productarticlewidedescription{
     float : none;

 }