@*@model IEnumerable<CryptoMarket.Services.PriceServicesResult>*@
@model IEnumerable<CryptoMarket.ViewModels.PriceBannerViewModel>

<div class="pricebannerwrapper">
    <div class="pricebanner">
        @foreach (var tick in Model)
        {
            <div class="pricetick">               
                @if (tick.OneHourChange > 0) {  <span id="pricechangedup">&uarr;</span>  }
                @if (tick.OneHourChange < 0) {  <span id="pricechangedown">&darr;</span>  }

                <span>@tick.FiatCryptoCombo </span>
                @*<span id="@(tick.OneHourChange >= 0 ? "pricetickvalueup" : "pricetickvaluedown")" >*@
                <span id="@(tick.OneHourChange > 0 ? "pricetickvalueup" :(tick.OneHourChange < 0 ? "pricetickvaluedown":"pricetickvaluesame"))">
                    @tick.DisplayPrice
                </span>
            </div>
        }
    </div>
</div>