@{
    ViewBag.Title = "Wallet";
}

<div>
    <div class="panel panel-default">
        <div class="panel-heading"> Error :( </div>
        <div class="panel-body">
            <div>
                <h1>|You have encoutered an Error. There be dragons here !</h1>
            </div>
        </div>
    </div>
</div>