@{
    ViewBag.Title = "Home Page";
}

<div id="main" class="container-fluid">
    <div>
        <h2>Welcome to the Crypto Currency Exchange Platform</h2>
    </div>
    <div>
        <ul>
            <li>
                <h4>Here you can search for the best exhange rates</h4>
            </li>
            <li>
                <h4>View Charts, Predictions, News and More</h4>
            </li>
        </ul>

    </div>
    <div class="form">
        <a asp-contoller="Auth" asp-action="Login"  id="SignIn" class="btn btn-primary">SignIn</a>
        <a asp-contoller="Auth" asp-action="Register"id="Register" class="btn btn-primary">Register</a>        
    </div>
</div>

