@model CryptoMarket.ViewModels.RegisterViewModel
    @{
        ViewBag.Title = "Register";
    }
    <div>
        <h4>Quick Register</h4>
        <div class="container-fluid">
            <form method="post" asp-controller ="Auth" asp-action ="Register" class="form-horizontal">
                <div as-validation-summary="ValidationSummary.ModelOnly"></div>
                <div class="form-group">
                    <label for="Nickname" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" id="Username" name="Username" class="form-control" />
                    </div>
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="form-group">
                    <label for="Password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="text" id="Password" name="Password" class="form-control" />
                    </div>
                    <span asp-validation-for="Password"></span>
                   </div>
                <div class="form-group">
                        <label for="ConfirmPassword" class="col-sm-2 control-label">ConfirmPassword</label>
                        <div class="col-sm-10">
                            <input type="text" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                        </div>
                        <span asp-validation-for="Username"></span>
                    </div>
                <div>
                    <input type="submit" value="Register"/>
                </div>
               
            </form>
        </div>

        <!-- Button trigger modal -->
        <a data-toggle="modal" href="#registerForm" class="btn btn-primary btn-lg">Register</a>

        <!-- Modal -->
        <div class="modal fade" id="registerForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Register</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="Nickname" class="col-sm-2 control-label">Nick Name</label>
                                <div class="col-sm-10">
                                    <input type="text" id="Nickname" name="Nickname" class="form-control" />
                                </div>
                            </div><div class="form-group">
                                <label for="Title" class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" id="Title" name="Title" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="FirstName" class="col-sm-2 control-label">FirstName</label>
                                <div class="col-sm-10">
                                    <input type="text" id="FirstName" name="FirstName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="LastName" class="col-sm-2 control-label">LastName</label>
                                <div class="col-sm-10">
                                    <input type="text" id="LastName" name="LastName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" id="Email" name="Email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address1" class="col-sm-2 control-label">Address Line 1</label>
                                <div class="col-sm-10">
                                    <input type="text" id="Address1" name="Address1" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address2" class="col-sm-2 control-label">Address Line 2</label>
                                <div class="col-sm-10">
                                    <input type="text" id="Address2" name="Address2" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address3" class="col-sm-2 control-label">Address Line 3</label>
                                <div class="col-sm-10">
                                    <input type="text" id="Address3" name="Address3" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MailCode" class="col-sm-2 control-label">Mail Code</label>
                                <div class="col-sm-10">
                                    <input type="text" id="MailCode" name="MailCode" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Country" class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-10">
                                    <select name="Country" id="Country" class="col-sm-10 form-control">
                                        <option>France</option>
                                        <option>Germany</option>
                                        <option>Hungary</option>
                                        <option>Italy</option>
                                        <option>Lativia</option>
                                        <option>Luxumberg</option>
                                        <option>Spain</option>
                                        <option>United Kingdom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AccountName" class="col-sm-2 control-label">Account Name</label>
                                <div class="col-sm-10">
                                    <input type="text" id="AccountName" name="AccountName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="AccountType" class="col-sm-2 control-label">Account Type</label>
                                <div class="col-sm-10">
                                    <select name="AccountType" id="AccountType" class="col-sm-10 form-control">
                                        <optgroup label="Bank">
                                            <option>Debit</option>
                                            <option>Credit</option>
                                            <option>Savings</option>
                                        </optgroup>
                                        <optgroup label="Other">
                                            <option>Paypal</option>
                                            <option>Western Union</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>